header .barra{
    background-color: blueviolet;
    height: 80px;
    font-family: 'Times New Roman', Times, serif;

}
header{
    background-color: rgb(195, 83, 163);
}

.imagen_logo{
width: 100%;
height: 69px;
}

/*barra y links*/ .navbar .nav-link {    color:     rgb(93, 12, 80);
font-size: 16px;
}       

/* modificar el cambio de color de las opciones al pasar el cursor*/ .navbar .nav-link:hover { color: rgb(255, 255, 255);

}   
.navbar .nav-link:hover {
    /* subrayar la letra al pasar el cursor*/ text-decoration: underline; color: rgb(255, 255, 255);
}

.letra{
    margin-left: 550px;
}

.carouselMultiItemExample{
    margin-top: 4px;
}

.pie{
    height: 250px;
    margin-top: 5px;
}

footer{ 
    height: 10px;
    background-color: rgba(120, 82, 106, 0.543);
}

.boton{
    
    color: rgb(0, 0, 0);
    background-color: rgb(226, 203, 248);
    margin-left: 130px;
}